!!!
%html
  %head
    %title
      Borges Oracle
    %link{:rel=>"stylesheet", :href=>"http://notuntitled.com/stylesheets/blog.css"} 
  %body
    
    -story.each do |para|
      %p
        =para
    